<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="homeloan">
    <classes>
      <class name="testNGPackage.SecondTestngClass">
		  
		  <methods>
			  <exclude name="usersignin"></exclude>
			
		  </methods>
	  </class>
      
      <class name="testNGPackage.FirstTestngClass"/>
    </classes>
 
  </test> <!-- Test -->
</suite> <!-- Suite -->
